.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.login-container {
    background: #ffffff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.login-form {
    width: 100%;
}

.login-form .ant-form-item {
    margin-bottom: 15px;
}

.form-buttons {
    text-align: right;
}
